/* iphone 5/SE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .product-card{
    margin-bottom: 20px;
  }

  .project-img-modal{
    width: 100%;
    height: 100%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .product-card{
        margin-bottom: 20px;
    }

    .project-img-modal{
      width: 100%;
      height: 100%;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .product-card{
        margin-bottom: 20px;
    }

    .project-img-modal{
      width: 100%;
      height: 100%;
    }
}