/* iphone 5/SE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    /* html,body { 
        margin:0; 
        padding:0; 
    }; */

    .index-card-product{
        margin-bottom: 20px;
    }

    .index_product_img{
        width: 100%;
        height: auto;
    }
}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .index-card-product{
        margin-bottom: 20px;
    }

    .index_product_img{
        width: 100%;
        height: auto;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .index-card-product{
        margin-bottom: 20px;
    }

    .index_product_img{
        width: 100%;
        height: auto;
    }

}