.margin-between-navbar-and-landing-page{
    margin-top: 100px;
    margin-bottom: 50px;
}

.shop-categories-header{
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-after-shop-categories{
    margin-top: 50px;
    margin-bottom: 50px;
}

