.container-fluid{
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10vmin; */
  overflow: hidden;
  transform: skew(5deg);
}

.landing-page-container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}

.landing-page-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.landing-page-container .card:not(:nth-child(5)) {
  margin-right: 1em;
}