.product-body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.womens-banner-img{
    width: 400px;
    height: 600px;
}

.margin-after-landing-page{
    margin-bottom: 50px;
}

.product-img{
    /* width: 650px;
    height: 800px; */
    width: 300px;
    height: 500px;
}

.margin-after-product{
    margin-top: 50px;
}